<% provide(:title, '日記一覧') %>

<h1>Diary Dream App</h1>
<div id="calendar"></div>
<%= link_to '新規投稿', article_new_path(protocol: 'https') %><br>

<% if @articles.empty? then %>
    公開されている記事はありません。<br>
<% else %>
    以下の記事が公開されています

    <% @articles.each do |article| %>
        <ul>
            <li>
                <%= link_to article_path(article.content,protocol: 'https'),article %>
                作成日時：<%= article.created_at %>
                <%= link_to 'edit',edit_article_path(article,protocol: 'https'),method: :get %>
                <%= link_to 'delete',article_path(article,protocol: 'https'),method: :delete %>

            </li>
        </ul>
    <% end %>
<% end %>
