<% provide(:title, '日記一覧') %>

<h1>Diary Dream App</h1>
<div id="calendar"></div>
<%= link_to '新規投稿', new_article_path(protocol: 'https') %><br>


    以下の記事が公開されています
    <%= form_with url: articles_user_path, method: :get, local: true do |f| %>
        ソート:
        <%= select_tag 'sort', options_for_select({ "作成日" => "created_at", "夢を見た日" => "day","更新日" => "updated_at" }) %>
        <%= select_tag 'direction', options_for_select({ "新しい順" => "asc", "古い順" => "desc"}) %>
        <%= submit_tag 'search' %>

    <% end %>
    <%= will_paginate  @articles %>
    
    <% @articles.each do |article| %>
        <ul>
            <li>
                <% if article.content.length >= 100 %>
                    <%= link_to article.content.slice(0,100)+'...', article_path(article) %>
                <% else %>
                    <%= link_to article.content, article_path(article) %>
                <% end %>
                作成日時：<%= article.created_at %>
                <%= link_to 'edit',edit_article_path(article),method: :get %>
                <%= link_to 'delete',article_path(article),method: :delete %>

            </li>
        </ul>
    <% end %>


    