<% provide(:title, '新規サインアップ') %>

<h1>Signup</h1>
<div class="row">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name %>
        <%= f.text_field :name,class:'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password,class:'form-control' %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation,class:'form-control' %>
        <%= f.submit "アカウント作成" %>
    <% end %>
</div>