<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "夢日記",   root_path %>
    <form class="d-flex">
      <button class="btn btn-outline-success me-2" type="button"><%= link_to "Home",root_path %></button>
      <% if logged_in? %>
      <button class="btn btn-outline-success me-2" type="button"><%= link_to "Log out",logout_path,method: :delete %></button>
      <button class="btn btn-outline-success me-2" type="button"><%= link_to "User", user_path(@current_user) %></button>


      <% else %>
        <button class="btn btn-outline-success me-2" type="button"><%= link_to "Log in", login_path %></button>
        <button class="btn btn-outline-success me-2" type="button"><%= link_to "Sign Up", signup_path %></button>


      <% end %>
    </form>
  </div>
</nav>
